/* Generic */

@import
url('https://fonts.googleapis.com/css2?family=Crimson+Pro&display=swap');

$base-font-family: 'Crimson Pro', serif;
$base-font-size: 20px;
$small-font-size:  $base-font-size * 0.875;

$blue-color: #2a7ae2;
$blue-color-light: lighten($blue-color, 40%);
$blue-color-dark:  darken($blue-color, 25%);

$green-color: #9fe22a;
$green-color-light: lighten($green-color, 40%);
$green-color-dark:  darken($green-color, 25%);

$red-color: #E35242;
$red-color-light: lighten($red-color, 40%);
$red-color-dark:  darken($red-color, 25%);

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);